<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include partials/head %>
    <link rel="stylesheet" href="../Stylesheets/login.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://media.twiliocdn.com/sdk/js/chat/v1.1/twilio-chat.min.js"></script>
    <script src="../chat_index.js"></script>
</head>
<body>
    <div>
         <!-- Navbar -->
        <div id="navbar1"> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Jam Session</a>
                <div id="navbarSupportedContent navbar1">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                    <a id="login_button" class="nav-link disabled" href="">PROFILE</a>
                            </li>
                        <li class="nav-item">
                                <a id="login_button" class="nav-link disabled" href="/signOut">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="welcome"><H1 >Welcome to <%= comName %> Jam Session!</H1></div>
        <H2><%= description %></H2>
        <div id="communitybody">
            <div id="Jams">
                <div class="button" id="create_jam_button"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Jam</button>
                </div>
                <br>
            
                
                <!-- sign up Modal -->
                <div class="bg-modal2">
                    <div class="modal-content2">
                        <div class="close2">+</div>
                        <br>
                        <form action="/community/4" method="POST">
                            <div class="form-group">
                                <input type="text" name="jamName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="Enter Name of Jam">
                            </div>
                            <div class="form-group">
                                    <small class="form-text text-muted">Describe your Jam... </small>
                                    <textarea name='jamDescription'></textarea>
                                </div>
                            <div class="form-group">
                                <input type="text" name="date" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Date YYYY-MM-DD">
                            </div>
                            <div class="form-group">
                                <input type="text" name="time" class="form-control" id="password" placeholder="Enter Time 00:00:00">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>           
                        </form>
                    </div>
                </div>
                <script>
                document.getElementById('create_jam_button').addEventListener('click',()=>{
                    document.querySelector('.bg-modal2').style.display = 'flex';
                })
                
                document.querySelector('.close2').addEventListener('click', ()=>{
                    document.querySelector('.bg-modal2').style.display = 'none';
                })
                </script>

                <div id='jamcards'>  <% jams.forEach(function(jam){ %>
                    <div class="card1">
                        <h5 class="card-header">Upcoming</h5>
                        <div class="card-body">
                          <h5 class="card-title"><%= jam.jamName %></h5>
                          <p class="card-text"><%= jam.jamDescription %></p>
                          <p class="card-text"><%= jam.date %>, <%= jam.time %></p>
                          <a href="/video/<%= jam.jamName %>"" class="btn btn-primary">Join</a>
                        </div>
                      </div>
                      <br>



                    <% }) %>
                </div>
            </div>
        </div>


    </div>

<script> 
console.log("is this printing?")
let comName = '<%= comName %>'
console.log(comName)
let userId = '<%= userId %>'
console.log(userId)
let firstName = '<%= firstName %>'
console.log(firstName)
</script>

<!-- chat section -->
<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat Pug
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                        </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                        </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                        </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                            Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                            Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body body-panel">
                    <ul class="chat">

                    </ul>
                </div>
                <div class="panel-footer clearfix">
                    <input id="message" class="form-control" type="text" disabled />
                    <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
                    <button class="btn btn-success btn-lg btn-block" id="btn-chat">Send</button>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="new-message" type="text/template">
    <li id="{{id}}" class="right clearfix">
        <div class="chat-body clearfix">
            <p>
                {{body}}
            </p>
        </div>
    </li>
</script>

    
</body>
</html>