<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile Page</title>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="../Stylesheets/login.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div id="navbar1" style="background-color: cornflowerblue; box-shadow: 10px 10px 50px grey">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" style="color: white">Jam Session</a>
        <div id="navbarSupportedContent navbar1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a id="logout_button" class="nav-link disabled" href="/signOut" style="color: white">logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="profileInfo">
      <div id="upperprofile">
        <div id="profilePicture"><img src= <%=imageURL %> ></div>
        <div><h1><%= firstName %> <%= lastName %></h1></div>
        <div><h2 id="aboutMe"><%=bio%></h2></div>
      </div>
      <div id="lowerprofile">
        <div id="myCommunities">
          <h6>Go to Community Pages</h6>
        </div>
        <ul>
          <% communities.forEach(function(community){ %>
          <li id="combuttons">
            <button><a id="comlink" href="/community/<%= community.id %>"> <%= community.comName %> </a></button>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
